#root {
  width:100%;
  margin: 0 auto;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.wrapper{
  padding:0 12vw;
}

.mantine-Grid-inner{
  margin: 0 !important;
  max-width: 100% !important;
}

.auth-grid .mantine-Grid-inner{
  height:100%;
}